@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Sour Gummy";
    color: white;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(#116ff3, rgb(138, 181, 255));

}

#body-grid {
    display: grid;
   justify-items: center;
    align-items: center;
    margin: 10%;
}

.projects-container {
    justify-self: left;
}

.projects-container {
    justify-self: left;
}

.card-grid {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 60%;
}

.card {
    display: flex;
    
    background: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 50px;
}

    .card p, .card h3 {
        color: #000;        
    }

    .card img {
        width: 100%;
    }